{% extends "base.html.twig" %}
{% block javascripts %}
    <script src="/epiceditor/js/epiceditor.min.js"></script>
    <script src="/epiceditor/js/textile.min.js"></script>
    <script>
        $(function () {
            var editor = new EpicEditor({
                basePath: '/epiceditor',
                clientSideStorage: true,
                localStorageName: 'epiceditor',
                useNativeFullscreen: true,
                parser: textile,
                autogrow: {
                    minHeight: 600
                }
            }).load();
        });

        $(function () {
            $('body').on('keydown', function (e) {
                console.log(e);
            });
        });
    </script>
{% endblock javascripts %}
{% block styles %}
{% endblock styles %}

{% block body %}
    <div class="container">
        <div class="row">
            {{ form_start(form) }}
            {{ form_row(form.title) }}
            {{ form_row(form.slug) }}
            <div class="form-group">
                {{ form_errors(form.content) }}
                {{ form_label(form.content) }}
                <div id="epiceditor">
                    {{ form_widget(form.content) }}
                </div>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock body %}