{% extends 'admin/base.html.twig' %}

{% block page_content %}
        <div>
            <div id="media-container">
                <h3>Loading...</h3>
            </div>
        </div>
        <div>
            {{ form(form) }}
        </div>
{% endblock page_content %}

{% block styles %}
    <style>
        #media-container div:nth-child(4n+1) {
            clear: both;
        }
    </style>
{% endblock styles %}

{% block javascripts %}
    {% spaceless %}
        {% verbatim %}
            <script id="file-template" type="text/x-handlebars-template">
                {{#each files}}
                <div class="col-sm-3">
                    <div class="panel panel-default">
                        <div class="panel-heading">{{ name }}</div>
                        <div class="panel-body">
                            <img class="img-thumbnail" src="/uploads/{{ path }}"/>
                        </div>
                        <div class="panel-footer">
                        <button type="button" data-id="{{ id }}" class="delete-button btn btn-default btn-xs">
                          <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Delete
                        </button>
                        </div>
                    </div>
                </div>
                {{/each}}
            </script>
        {% endverbatim %}
    {% endspaceless %}
    <script>
        var source   = $("#file-template").html();
        var template = Handlebars.compile(source);
        $(function () {
            $('form').on('submit', function (e) {
                e.preventDefault();
                submitForm(this);
                this.reset();
            });
            $('#media-container').on('click', '.delete-button', function () {
                var id = $(this).data('id');
                console.log(id);
                if (confirm("Delete this image?") == true) {
                    console.log("deleting");
                    $.post("{{ path('delete_media') }}", {id: id}).success(function (data) {
                        console.log(data);
                        updateMedia();
                    });
                }
            });

            updateMedia();
        });
        function updateMedia () {
            $.get("{{ path('get_media') }}").success(function (data) {
                var context = data;
                console.log(context);
                var html = template(context);
                $('#media-container').html(html);
            });
        }

        function submitForm (form) {
            $.ajax({
                type: "POST",
                url: $(form).attr('action'),
                dataType: "JSON",
                data: new FormData(form),
                processData: false,
                contentType: false,
                success: function(data)
                {
                    updateMedia();
                }
            });
        }
    </script>
{% endblock javascripts %}